@import url('https://fonts.googleapis.com/css?family=Diplomata|Permanent+Marker');
body {
    max-width: 980px;
    margin: auto;
}
html {
  background-color: black; 
}
h1,h2,h3,h4 {
    color: white;
}
p {
    color: white;
}

header .header-logo {
    font-family: 'Diplomata', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 20px auto;
}
header .menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header .menu li {
    display: inline;
}
header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Permanent Marker', cursive;
    

}

header .menu li a:hover {
    text-decoration: underline;
}
header .banner {
    min-height: 400px;
    background-image: url(../img/package-tour.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .banner .button-container {
    display: flex;
    color: white;
}
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
header .banner2 {
    min-height: 400px;
    background-image: url(../img/walking-holiday.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 740px) {
    header nav {
        display: flex;
    }
    header .header-logo {
        margin: 0;
    }
    header .menu {
        flex: 1;
        align-items: center;
    }
    
}

.tour-card {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


.tour-card img {
    display: block;
    width: 100%;
}

.tour-card .button-container {
    display: flex;
    justify-content: space-around;
}

.tour-card .button {
    padding: 5px;
    min-width: 85px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    padding: 0;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
    color: red;
}
